@page
@model DailyReport.Pages.FireReport.FireRepIndexModel
@{
    ViewData["Title"] = "Пожарная сводка";
}
<div class="text-center">
    <h1 class="display-4">Сводка отделений</h1>
    <p><a href="FireReport?depNumber=1">Первое отделение</a></p>
    @*<p><a href="\DepReport?depNumber=2">Второе отделение</a></p>*@
    <p><a href="FireReport?depNumber=3">Третье отделение</a></p>
    <p><a href="FireReport?depNumber=4">Четвертое отделение</a></p>
    <p><a href="FireReport?depNumber=5">Пятое отделение</a></p>
    <p><a href="FireReport?depNumber=6">Шестое отделение</a></p>
    <p><a href="FireReport?depNumber=7">Седьмое отделение</a></p>
    <p><a href="FireReport?depNumber=8">Дневной стационар</a></p>
    <p><a href="FireReport?depNumber=90">ОРИТ</a></p>
   @* <p><a href="FireReport\FinalReport">Сводка по больнице</a></p>
    <p><a href="FireReport\FinalReport?dateOffset=-1&onlyView=true">Сводка для планерки</a></p>*@
</div>