@page
@model DailyReport.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Администрирование";
}

<div class="container">
    <p><a href="Migration">Миграция БД</a></p>
    <p><a href="PersonelManegement">Персонал</a></p>
    <p><a href="Reports">ReportList</a></p>


</div>