@page
@model DailyReport.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Администрирование";
}

<div class="container">
    <p class="invisible"><a href="Migration">Миграция БД</a></p>
    <p><a href="PersonelManegement">Персонал</a></p>
    <p class="invisible"><a href="Reports">Список сводок (тенический)</a></p>
    <p><a href="DepartmentsManagement">Управление отделениями</a></p>
    <p class ="invisible"><a href="/Pages/Reports/Depreport?dateOffset=-1">Вчерашняя сводка</a></p>

</div>