@page
@model DailyReport.Pages.Admin.DBAdministrationModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <form method="post">
                <input type="submit" value="Провести миграцию" asp-page-handler="Migrate" class="btn btn-danger"></input>
            </form>
            
        </div>
    </div>
</div>