@page
@model DailyReport.Pages.Admin.MigrationModel
@{
    ViewData["Title"] = "Миграция БД";
}

<div class="row">
    <div class="col-4">
        <form method="post">
            <input type="submit" value="Провести миграцию" asp-page-handler="Migrate" class="btn btn-danger"/>
        </form>
    </div>
</div>