@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Сводка отделений</h1>
    <p><a href="Reports\DepReport?depNumber=1">Первое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=2">Второе отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=3">Третьеотделение</a></p>
    <p><a href="Reports\DepReport?depNumber=4">Четвертое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=5">Пятое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=6">Шестое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=7">Седьмое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=90">ОРИТ</a></p>
</div>
