@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.DepReportModel
@{
    ViewData["Title"] = "Сводка отделения";
}

<div class="container">
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">        </th>
                <th scope="col">Взрослые</th>
                <th scope="col">Дети</th>
            </tr>
        </thead>
        @foreach (var  in Model.)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
        }
    </table>
</div>
