@page
@using DailyReport.Models
@model DailyReport.Pages.Reports.DepReportModel
@{
    ViewData["Title"] = "Сводка отделения";
}
<div class="text-center">
    <h1 class="display-4">Reports</h1>
</div>
