@page
@model DailyReport.Pages.Reports.FinalReportModel
@{
}

<div class="container">
    <div class="row" >
        <table class="table m-0 p-0 table-bordered">
            <thead>
                <tr>
                    <th>21 октября 2022</th>
                    <th>1-е ИО (42) грязная</th>
                    <th>3-е ИО (40) чистая</th>
                    <th>4-е ИО (40, 18 бюджет, 2д бюджет) чистая</th>
                    <th>5-е ИО (55) чистая</th>
                    <th>6-е ИО (50) чистая</th>
                    <th>7-е ИО (43) чистая</th>
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th colspan="2"> ОРИТ (20)</th>
                            </tr>
                            <tr>
                                <th>Грязная</th>
                                <th>Чистая</th>
                            </tr>
                        </table>
                    </th>
                    <th>Дневной стационар (10)</th>
                    <th>290 стационарных коек</th>
                    <th>Всего 300 с учетом дневного стационара</th>
                </tr>
                
                <tr>
                    <th>Всего: взрослые 155, детские 135, COVID-19: ВЗР-40, ДЕТ-10</th>
                    @*1 *@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                    @*3*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                    @*4*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                    @*5*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                    @*6*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                    @*7*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>

                    @*orit*@
                    <th class="m-0 p-0">
                        
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>

                    @*ДС*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>

                    @*общее количество*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                    @*общее количество + ДС*@
                    <th class="m-0 p-0">
                        <table class="table m-0 p-0 table-bordered">
                            <tr>
                                <th>Взр</th>
                                <th>Дети</th>
                            </tr>
                        </table>
                    </th>
                 
                </tr>
            </thead>
           
            <tbody>
                <tr>
                    <td>количество коек (фактическое)</td>
                </tr>

            </tbody>
        </table>
    </div>





   


</div>