@page
@using DailyReport.Models.WardsModels
@model DailyReport.Pages.Wards.DepartmentWardsModel
@{
}

@{
    foreach (Ward ward in Model.wards)
    {
        <div class="row">
            Палата @ward.Number
        </div>
        for(int i = 0; i < ward.Capacity; i++){
            <form method="post">
                <div class="row">
                    <div class="col-3">
                        
                    </div>
                </div> 
            </form>
        }
        
    }
}