@page
@model DailyReport.Pages.Wards.WardsIndexModel
@{
    ViewData["Title"] = "Управление палатами";
}
<div class="text-center">
    Палаты временно не указываем
    @*<h1 class="display-4">Управление палатами</h1>
    <p><a href="DepartmentWards?depNumber=1">Первое отделение</a></p>
    <p><a href="DepartmentWards?depNumber=3">Третье отделение</a></p>
    <p><a href="DepartmentWards?depNumber=4">Четвертое отделение</a></p>
    <p><a href="DepartmentWards?depNumber=5">Пятое отделение</a></p>
    <p><a href="DepartmentWards?depNumber=6">Шестое отделение</a></p>
    <p><a href="DepartmentWards?depNumber=7">Седьмое отделение</a></p>
    <p><a href=" WardsSummary">Места по стационару</a></p>*@
</div>