@page
@model DailyReport.Pages.Wards.WardsAdministrationModel
@{
    ViewData["Title"] = "Администрирование(палаты)";
}
<div class="text-center">
    <h1 class="display-4">Сводка отделений</h1>
    <p><a href="Reports\DepReport?depNumber=1">Первое отделение чистая зона</a></p>
    <p><a href="Reports\DepReport?depNumber=11">Первое отделение грязная зона</a></p>
    @*<p><a href="Reports\DepReport?depNumber=2">Второе отделение</a></p>*@
    <p><a href="Reports\DepReport?depNumber=3">Третье отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=4">Четвертое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=5">Пятое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=6">Шестое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=7">Седьмое отделение</a></p>
    <p><a href="Reports\DepReport?depNumber=8">Дневной стационар</a></p>
    <p><a href="Reports\DepReport?depNumber=90">ОРИТ чистая зона</a></p>
    <p><a href="Reports\DepReport?depNumber=91">ОРИТ грязная зона</a></p>
    <p><a href="Reports\DepReport?depNumber=81">КДО</a></p>
    <p><a href="Reports\DepReport?depNumber=82">Платные услуги</a></p>
    <p><a href="Reports\FinalReport">Сводка по больнице</a></p>
    <p><a href="Reports\FinalReport?dateOffset=-1&onlyView=true">Сводка для планерки</a></p>
</div>