html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media print {
    html, body {
        font-size: 13px;
        height: 297mm;
        width: 210mm;
        margin: 8mm 5mm 5mm 5mm;
    }

    *, *:before, *:after {
        color: #000;
        box-shadow: none;
        text-shadow: none;
        margin: 0;
        padding: 0;
    }
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }

    .bg-darkgrey {
        background-color: darkgrey !important;
    }

    /*th, td {
        padding: 0px;*/ /* Поля вокруг содержимого таблицы */
        /*margin: 0px;*/
        /*border: 2px solid black !important;*/ /* Параметры рамки */
    /*}*/

    /*убираем стрелки в полях вводаа формы*/
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        border: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        border: 0;
    }
    .pba-always {
        page-break-after: always;
    }

    .pba-never {
        page-break-after: avoid;
    }
    .min-all {
        min-width: 280mm;
    }

    /*todo коррекция разрывов для печати*/
    .pt-corr {
        height: 10rem !important;
        display: block !important;
    }
    .print-m-p-0 {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

th, td {
    padding: 0px; /* Поля вокруг содержимого таблицы */
    border: 2px solid black !important; /* Параметры рамки */
}

.reject {
    max-width: 50px;
}

.border-transparent {
    border: 0px;
    /*border-color: white;*/
}

.pt-corr {
    height: 0rem;
    display: none;
}